@model HockeyDBWeb.ViewModels.PlayerEditViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(FormMethod.Post))
{
<h2>Ange namn:</h2>
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)

    <input type="submit" value="Spara" />
}

